<template>
    <div id="colours">
        <ul>
            
    
         <li v-for="data in pin" :key="data" v-bind:style="{ background: colourcode(data) }"> {{namecode(data)}}</li>        
        </ul>
    </div>
</template>
<script>
import { seprator } from '../helper';
export default {
    props:['pin'],
    
    mounted() {
        
        console.log(this.pin, "pin")
    },
    
    methods :{
        
        
        colourcode : function(data) {
            
            var out= new seprator (data);
            return out.colourcode();
            
        },

        namecode : function(data) {
            var out= new seprator (data);
            return out.Pincode(); 
        },
    }
}
</script>
<style scoped>
#colour{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
li{
    flex-grow: 1;
    flex-basis: 300px;
    text-align: center;
    padding: 30px;
    border: 1px solid #222;
    margin: 10px;
    color: white;
    border-radius: 10px;
}
</style>
