<template>
    <div>

    {{info}}


        <app-colours  v-bind:pin="info"></app-colours>
    </div>
</template>


<script>
// Imports

import Colours from './colours_child.vue';
import axios from 'axios';


export default {

    
    components: {
        'app-colours': Colours
    },
    data () {
        return {
          colour: ['blue-110011','red-673612','green-673585'],
          info: []
        }
    },

    methods: {
            pincode : function(a) {
                console.log(a);
                let _this = this;
                axios.get('https://api.postalpincode.in/pincode/'+a.split("-")[1])
                .then(response => (
                    
                    _this.info.push(a.split("-")[0]+'-'+ response.data[0].PostOffice[0].Name)
                    ));
                     console.log(this.info);
            },
            collectPincode() {
              for (let code of this.colour) {
                 this.pincode(code); 
              }
            }
         },

    mounted () {
      this.collectPincode();
      console.log(this.info);
  },
  

}
</script>

<style>
body{
    margin: 0;
}
</style>
