<template>
  <div id="app">
    <div class="container">
    <img alt="Vue logo" src="../assets/logo.png" style="width:70px">
    <h1>Money Converter</h1>
    
       
        <label>Dollar <input type="text" v-model="d"></label><br/>
        <label>Rupees <input type="text" v-model="rs"></label><br/>
        
  </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {

  name: 'app',
  components: {
    
  },
   data() {
       return {
           rs: 0,
           d:0,
           rate:null
       }
   },
    watch: {
        rs: function(val){
            this.rs = val;
            this.d = val / this.rate;
            
        },
        d: function(val){
            this.rs = val * this.rate;
            this.d = val;
          
        }
    },
    mounted() {
      axios
  .get('https://api.exchangerate-api.com/v4/latest/USD')
  .then(response => (this.rate = response.data.rates.INR))
  .catch(error => console.log(error))
      }
  
   
  
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
   margin-bottom: 60px;
}
* {
  box-sizing: border-box;
}

input[type=text], select, radio {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=radio] {
  margin-top: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
  margin:0 auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
