<template>
 <div>
   
    <div id="header">
      <div id="logo">
          
        <div id="logo_text">
          <img alt="Vue logo" src="./../assets/logo.png">
          <h2>Vue Js</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
        
          <li> <router-link :to="{name: 'task1'}" >Task 1</router-link></li>
         
          <li> <router-link :to="{name: 'colours_parent'}" >Pin Code (Colour/Name)</router-link></li>
           <li> <router-link :to="{name: 'ipop_parent'}" >io/op Event</router-link></li>
          <li> <router-link :to="{name: 'converter'}" >Money Converter</router-link></li>
          <li> <router-link :to="{name: 'punchGame'}" >Punch Game</router-link></li>
          
        </ul>
      </div>
    </div>
    </div>
    

</template>

<script>
export default {
   data() {
       return {
          
       }
   },
   methods: {
        test() {
           this.$router.push({name: 'task1'});
       }
   }
}

</script>

<style scoped>

img
{ width: 60px;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
  color: #2b5fb1;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #2b5fb1;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #B48A7C;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #B48A7C;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{
  background: #000;
  border-bottom: 1px solid #3d3d3d;
  height: 146px;
  }

#logo
{
  position: relative;
  height: 100px;
  background: #1d1d1d;
  }

#logo #logo_text 
{ 
    padding:10px;
  }
#logo_text h2
{
  font-size: 120%;
  padding: 0px 0 0 0;
  color: #e4eeff;
  }

#menubar
{ 
  height: 45px;
  padding-right: 8px;
  background: #2D2D2D;
  border-top: 1px solid #3D3D3D;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 0px;
  list-style: none;
  margin: 8px 2px 0 2px;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 20px 5px 20px;
  border-radius:5px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #41b883;} 
  
  ul#menu li a:hover
{ background: #2b5fb1;
  text-decoration: none;}



ul#menu li .router-link-exact-active 
{ background: #2b5fb1;
  color: #FFF;}

ul#menu li a:hover
{ color: #FFF;}



  
  
  @media only screen and (max-width:620px) {
  /* For mobile phones: */
  #content {
    width:100%;
  }
}
</style>