<template>

<div class="container">
    <img alt="Vue logo" src="../assets/logo.png" style="width:80px;margin-bottom:20px">
  <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors" :key=error>{{ error }}</li>
    </ul>
  </p>

   <form @submit="checkForm">
  <div class="row">
    <div class="col-25">

     <label for="name">Name</label>
    </div>
    <div class="col-75">
     <input id="name" v-model="name" type="text" name="name">
    </div>
  </div>
  
  <div class="row">
    <div class="col-25">
      <label for="age">Age</label>
    </div>
    <div class="col-75">
         
       <select id="age" v-model="age" name="age">
         <option v-for="age in ages " :key="age">{{age}}</option>
      </select>

    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="city">City</label>
    </div>
    <div class="col-75">
     <input type="radio" v-model="city" value="BTM">BTM
  <input type="radio" v-model="city" value="HSR">HSR
  <input type="radio" v-model="city" value="kOZHIKODE">KOZHIKODE
  <br/> 
  
   </div>
  </div>
 
  <div class="row">
    <input type="submit" value="Submit" @click="classPass()">
  </div>
  </form>
</div>
 

</template>

<script>
import { output } from '../helper.js'
export default {

data () {
        return {
           errors: [],
    name: null,
    age: null,
    maxAge:65,
    minAge:25,
    ages: [],
    city:['BTM','HSR','KOZHIKODE']
        }
    },
 methods:{

   classPass: function () {
  
        let userData ={
            name:this.name,
            age:this.age,
            city:this.city
          }
         var out= new output (userData);
            out.displayname();
            out.displayage();
            out.displaycity();
   },
    checkForm: function (e) {
      if (this.name && this.age) {
          let userData ={
              name:this.name,
              age:this.age,
              city:this.city
          }

        this.$emit('changeData', userData);
      }

      this.errors = [];

      if (!this.name) {
        this.errors.push('Name required.');
      }
      if (!this.age) {
        this.errors.push('Age required.');
      }

      e.preventDefault();
    },

     changeTitle: function(){
        this.$emit('changeTitle', 'updated');
      }

 },

   
  mounted() {
      let i = this.minAge;
      for(i;i<=this.maxAge;i++) {
          this.ages.push(i);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  box-sizing: border-box;
}

input[type=text], select, radio {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=radio] {
  margin-top: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
  margin:0 auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
