<template>
  <div id="app">
    
    <child  v-on:changeData="updateData($event)"></child>


    <div class="outputContainer">

        <h3>Name : {{name}}</h3>
        <h3>Age : {{age}}</h3>
        <h3>City :{{city}}</h3>
      
    </div>
    
     

  </div>
</template>

<script>
import Child from './ipop_child.vue'

export default {
  data () {
        return {
          name: 'not updated',
          age: 'not updated',
          city: 'not updated'
        }
    },
    methods: {
      updateData: function(updatedData){
        this.name = updatedData.name;
        this.age = updatedData.age;
        this.city = updatedData.city;
      }
    },
  name: 'app',
  components: {
    Child
  }
  
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}
.outputContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  margin:0 auto;
  margin-bottom: 30px;
}
</style>
