<template>
    <div>
         
    <transition name="shake">
    <div id="bag"  v-bind:class="status "></div>
    </transition>

    <div id="bag-health">
        <div v-bind:style="{width:health + '%'}"></div>
    </div>
    <div id="controls">
        <button v-on:click="punch" v-show="!ended">Punch</button>
        <button v-on:click="restart" class="red">Reset</button>
    </div>
    </div>
</template>

<script>
import { METHODS } from 'http';
export default {
   data() {
       return {
          health:100,
          ended:false,
          status:null
       }
   },
   methods:{
       
       punch: function(){
         setTimeout(() => { this.status=null }, 1000);
        
           this.status='punch';       
           this.health -=20;
           
           if(this.health <= 0){
               this.ended=true;
               this.status='burst';
               setTimeout(() => { this.status='burst' }, 1000);
           }
       },
        restart: function(){
           this.health =100;
           this.ended=false;
           this.status=null;
       }
   },
   mounted() {
       
      setTimeout(this.status=null, 2000);
  },
}

</script>

<style scoped>
#bag{
    width :200px;
    height: 450px;
    margin:0 auto;
    background: url(./../assets/bag.png)center no-repeat;
    background-size:80%; 

}
#bag.burst{
    width :200px;
    height: 450px;
    margin:0 auto;
    background: url(./../assets/bag-burst.png)center no-repeat;
    background-size:80%; 

}
#bag-health{
    width :200px;
    margin:0 auto 20px auto;
    border: 2px solid black;
}
#bag-health div{
    height :20px;
    background: crimson;
    
 }
 #controls{
    width :200px;
    margin: 0 auto; 
    margin-bottom: 20px;
    
 }
  #controls button{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: green;
    color: white;
 }
 #controls button.red{
   
    background-color: red;
    
 }

  #bag.burst {
  animation: shake 2.0s;
  animation-iteration-count: infinite;
   transform-origin: top;
}


  #bag.punch {
  animation: punch 1.0s;
  animation-iteration-count: 1;
   transform-origin: top;
}

@keyframes punch {
    
 0% { transform: translate(0px, 0px) rotate(0deg); }
 
   33% { transform: translate(0px, 0px) rotate(-6deg); }

   66% { transform: translate(0px, 0px) rotate(6deg); }
  
  
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes shake {
    
 0% { transform: translate(0px, 0px) rotate(-10deg); }
 
   50% { transform: translate(0px, 0px) rotate(11deg); }
  
  
  100% { transform: translate(0px, 0px) rotate(-10deg); }
}
</style>



