<template>
     <div class="container">
  <div class="row">
    <div class="col-33">
         
     <p v-for="x in websites" :key="x"><a v-bind:href="x.link">{{x.name}}</a></p>
       </div>
        <div class="col-33">
         
      <ul>
         <li v-for="x in number" :key="x">{{x}}</li>
     </ul>

       </div>
        <div class="col-33">
         
      <div v-for="x in mark" :key="x" >

        <div v-if="x > 50" class="green-pass">
        <p>  {{x}} &#62; 50  Eligible </p> 
        </div>

        <div v-else class="red-fail">
        <p> {{x}} &#60; 50 Not Eligible </p>
        </div>
         
    </div>

       </div>
       </div>  
    </div>
</template>

<script>
export default {
   data() {
       return {
           websites: [
            {name:'google.com',link:'http://google.com'},
            {name:'facebook.com',link:'http://facebook.com'},
            {name:'yahoo.com',link:'http://yahoo.com'}],
             number: ['1','2','3','4','5'],
             mark: [65,6,4,20]
       }
   }
}

</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
   margin-bottom: 60px;
}
* {
  box-sizing: border-box;
}

input[type=text], select, radio {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=radio] {
  margin-top: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%;
  margin:0 auto;
}

.col-33 {
  float: left;
  width: 33%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>