<template>
  <div id="app">
    
    <headerTag/>

    <router-view></router-view>
    
    <footerTag/>

  </div>
  
</template>

<script>
import headerTag from './components/header.vue'
import footerTag from './components/footer.vue'


export default {
  name: 'app',
  components: {
    headerTag,
    footerTag
  },
  
  data: function (){
    return {
      error:false,
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px;
}

body{
  margin: 0px;
}
.red-fail {
background-color: red;
color: aliceblue;
width: 50%;
text-align: center;
margin: 0px auto;
padding:1px;
margin-bottom: 2px;
    border-radius: 5px;
}
.green-pass {
background-color: green;
color: aliceblue;
width: 50%;
text-align: center;
margin: 0px auto;
padding:1px;
margin-bottom: 2px;
    border-radius: 5px;
}




</style>
